h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: verdana;
    color: white;
    margin: 10px;
    text-align: center;
    border: 5px solid;
    border-color: white;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
h2 {
    color: red;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-size: 40px;
}
header {
    background-color: red;
    padding: 5px;
}
.banner_img {
    position: relative;
    width: 100%;
}
.banner_text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 90px;
    position: absolute;
    top: 250px;
    /* left: 0px; */
    background-color: rgb(255, 183, 0);
    padding: 30px;
}
.menu_bar {
    width: 100%;
    height: 65px;
    text-align: center;
    background-color: rgba(221, 221, 221, 0.722);
    border-bottom: 1px solid;
    border-color: rgb(191, 191, 191);
}
.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    float: left;
    padding: 18px;
    text-align: center;
    width: 22%;
    color: black;
}
a:visited {
    color: black;
}
a {
    text-decoration: none;
}
p {
    font-size: medium;
    font-style: normal;
}
.images {
    width: 100%;
    height: 405px;
    position: static;
}
.image {
    position: relative;
    float: left;
    width: 40%;
    padding: 5%;
}
.join {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(221, 221, 221, 0.722);
    color: rgb(131, 131, 131);
    text-align: center;
    padding: 100px;
    margin-top: 150px;
}
.email {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border-color: white
}
.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: rgb(131, 131, 131);
    text-align: center;
    padding: 10px;
}