body {
    margin: 0px;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: verdana;
    color: white;
    margin: 10px;
    text-align: center;
    border: 5px solid;
    border-color: white;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
h2 {
    padding: 5px;
    color: red;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    padding: 5px;
}
h4 {
    padding: 5px;
    font-size: 40px;
}
header {
    background-color: red;
    padding: 5px;
}
.banner_img {
    position: relative;
    width: 100%;
}
.banner_text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 90px;
    position: absolute;
    top: 250px;
    background-color: rgb(255, 183, 0);
    padding: 30px;
}
.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /* float: left; */
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}
a:active {
    color: rgb(0, 0, 0);
}
a {
    text-decoration: none;
}
.text {
    padding: 5px;
    text-align: justify;
    font-size: medium;
    font-style: normal;
}
.images {
    margin: 200px;
    display: flex;
    justify-content: center;
}
.image {
    scale: 70%;
}
.join {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(221, 221, 221, 0.722);
    color: rgb(131, 131, 131);
    text-align: center;
    padding: 100px;
}
.email {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border-color: white
}
.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: rgb(131, 131, 131);
    text-align: center;
    padding: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    height: 90px;
    align-items: center;
}
.menu {
    padding: 0;
    margin: -4px;
    background-color: rgba(221, 221, 221, 0.722);

}